body {
  margin: 0;
  min-width: 320px;
  color: var(--mantine-color-text);
  background: var(--mantine-color-body);
}

.demo-editor {
  max-width: 800px;
}

.demo-editor__prosemirror {
  min-height: 200px;
  line-height: 1.5;
  outline: none;
}

.demo-editor__prosemirror p.is-editor-empty:first-child::before {
  color: var(--mantine-color-placeholder);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
